@{
    ViewData["Title"] = "Bem vindo!";
}

<div class="text-center">

     <h1 class="display-4"> Bem vindo!</h1>

<br />

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-70">
                <img src="https://kardecriopreto.com.br/wp-content/uploads/2018/02/o-FELICIDADE-facebook.jpg" class="card-img-top" alt="Cuidamos do seu Contato">
                <div class="card-body">
                    <h2 class="card-title">Cuidadomos do seu contato para você</h2>
                    <p>Nossa agenda foi crianda com a finalidade de te ajudar a guardar seus contatos mais preciosos.</p>
                </div>
                <div class="card-footer">
                   <div id="Horario local"></p>
                        <script>
                            document.getElementById("Horario local").innerHTML = Date();
                        </script>
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <br />

        <div class="col">
            <div class="card h-100">
                    <img src="https://thumbs.jusbr.com/imgs.jusbr.com/publications/artigos/images/cobranca-vexatoria1465819389.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                        <h2 class="card-title">Business Company</h2>
                    <p class="texto">O melhor desempenho para seu negocio.</p>
                    <p>Agilidade e foco para melhor atender suas necessidades. Entre em contato, e um de nossos consultores ira ate você, estamos
                        sempre prontos para encontrar um plano que se encaixa com seu modelo de negocio.
                    </p>
                </div>             
            </div>
        </div>

        <br />
</div>
